h1, h3 {
  text-align: center;
}


.main-conatiner {
  width: 80vmin;
  margin: auto;
}

.square {
  width: 20vmin;
  height: 20vmin;
  border: 1px solid grey;
  text-align: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-row {
  display: flex;
  flex-direction: row;
  margin: auto;
}